<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Inventario Bienes</title>
        <link href="/css/style.css" rel="stylesheet" type="text/css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
        <link rel="icon" type="image/png" href="/img/logo_FLA.png">
        <style>
            .logo {
                display: block;
            }                
        </style>
    </head>
    <body>
        <nav class="nav-container">
            <ul class="horizontal-currency">
                <li>
                    <a href="/">
                        <img src="/img/logofla.png" alt="logo_fla" class="img-logo">
                    </a>
                </li> 
                <li><a href="/positions">Funcionarios</a></li>
                <li><a href="/under_construction.html">Traslados</a></li>
                <li><a href="/under_construction.html">Correos</a></li>
                <% if (user) { %>
                <li class="user_title"><%= user.user_name %></li>
                <li><a href="/signOut">Cerrar sesión</a></li>
                <% } %>
            </ul>
        </nav>
    </body>
</html>