/* Barra de navegacion */
.navbar {
    padding: 2rem;
    background-color: #f5f6f7;
}
.navbar-collapse {
    align-items: center;
    justify-content: space-between;
}
.container-sm {
    background-color: white;
}

/* Logo SignIn y SingUp */
.container-log {
    background-color: #f5f6f7;
    padding: 20px;
}
.buttons {
    margin: 32px;
}

/* Adaptable responsivo */

@media screen and (max-width: 767px) {
    .navbar-brand {
        display: none;
    }
}