<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Funcionarios</title>
        <link href="/css/style.css" rel="stylesheet" type="text/css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
        <link rel="icon" type="image/png" href="/img/logo_FLA.png">
        <style>
          .logo {
              display: block;
          }                
        </style>
    </head>
    <body>
       <h1>Funcionarios</h1>
       <a href="/position/under_construction.html">Nuevo funcionario</a>
       <table class="table">
            <thead>
                <tr>
                    <th>Identificación</th>
                    <th>Nombre</th>
                    <th>Email</th>
                    <th>Nombramiento</th>
                    <th>Cargo</th>
                    <th>Dependencia</th>
                    <th>Estado</th>
                    <th>Acciones?</th>
                </tr>
            </thead>
       </table> 
    </body>
</html>s