<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Inventario Bienes</title>
        <link href="/css/style.css" rel="stylesheet" type="text/css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
        <link rel="icon" type="image/png" href="/img/logo_FLA.png">
        <style>
          .logo {
              display: block;
          }                
        </style>
    </head>
    <body>

       <div class="new-container">
        
            <div class="form-container">
                <img src="/img/logo_FLA.png" alt="logo" class="logo">

                <form action="/positions" method="post" class="form">

                    <label for="identificationNumber" class="label">Identificación</label>
                    <input type="number" name="identificationNumber"  required class="input">

                    <label for="name" class="label">Nombre</label>
                    <input type="text" name="name"  required class="input">

                    <label for="email" class="label">Email</label>
                    <input type="text" name="email"  required class="input">

                    <label for="subManagement" class="label">Subgerencia</label>
                    <select name="subManagement" id="" for="subManagement" class="button">
                        <option value="Despacho del gerente">Despacho del gerente</option>
                        <option value="Secretaria general">Secretaria general</option>
                        <option value="Subgerencia administrativa y financiera">Subgerencia administrativa y financiera</option>
                        <option value="Subgerencia comercial">Subgerencia comercial</option>
                        <option value="Subgerencia mercadeo">Subgerencia mercadeo</option>
                        <option value="Subgerencia producción">Subgerencia producción</option>
                    </select>
                
                    <select name="charge" id="" for="charge" class="button">
                        <option value="Almacenista general">Almacenista general</option>
                        <option value="Almacenista T.O">Almacenista T.O</option>
                        <option value="Auxiliar administrativo">Auxiliar administrativo</option>
                        <option value="Auxiliar de servicio generales">Auxiliar de servicio generales</option>
                        <option value="Auxiliar de sostenimiento">Auxiliar de sostenimiento</option>
                        <option value="Conductor">Conductor</option>
                        <option value="Contratista">Contratista</option>
                        <option value="Director administrativo">Director administrativo</option>
                        <option value="Director operativo">Director operativo</option>
                        <option value="Gerente">Gerente</option>
                        <option value="Jefe de oficina">Jefe de oficina</option>
                        <option value="Operario">Operario</option>
                        <option value="Practicante">Practicante</option>
                        <option value="Profesional especializado">Profesional especializado</option>
                        <option value="Profesional universitario">Profesional universitario</option>
                        <option value="Secretario">Secretario</option>
                        <option value="Secretario ejecutivo">Secretario ejecutivo</option>
                        <option value="Secretario general">Secretario general</option>
                        <option value="Subgerente">Subgerente</option>
                        <option value="Técnico operativo">Técnico operativo</option>
                    </select>

                    <label for="comments" class="label">Observaciones</label>
                    <input type="text" name="comments"  required class="input">

                    <button type="submit" class="button">
                        <i class="icon-buttom"><img src="/img/newUser_icon.png" alt="user-button" class="icon">   Agregar</i>
                    </button>

                    <button class="button">
                        <a href="/positions" class="icon-buttom">
                            <img src="/img/cancel_icon.png" alt="user-button" class="icon">   Cancelar</a>
                    </button>

                </form>
            
            </div>
       </div>

    </body>
</html>