<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Inventario Bienes</title>
        <link href="/css/style.css" rel="stylesheet" type="text/css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
        <link rel="icon" type="image/png" href="/img/logo_FLA.png">
        <style>
          .logo {
              display: block;
          }                
        </style>
    </head>
    <body>
        <div>
            <ul>
                <li>Nombre</li>
                <li>Apellido</li>
                <li>Identificación</li>
                <li>Correo electrónico</li>
                <li>Cargo</li>
                <li>Subgerencia</li>
                <li>Dependencia</li>
                <li>Observaciones</li>
            </ul>
        </div>
    </body>
</html>