<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Inventario Bienes</title>
        <link href="/css/style.css" rel="stylesheet" type="text/css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
        <link rel="icon" type="image/png" href="/img/logo_FLA.png">
        <style>
          .logo {
              display: block;
          }                
        </style>
    </head>
    <body>

        <div>
            <h1 class="sub-title">Funcionarios</h1>

       </div>

       <div class="new-container">
        
            <div class="form-container">
                <img src="/img/logo_FLA.png" alt="logo" class="logo">

                <form action="/positions" method="post" class="form">

                    <label for="identificationNumber" class="label">Identificación</label>
                    <input type="number" name="identificationNumber"  required class="input">

                    <label for="name" class="label">Nombre</label>
                    <input type="text" name="name"  required class="input">

                    <label for="email" class="label">Email</label>
                    <input type="text" name="email"  required class="input">

                    <!--
                    <label for="charge" class="label">Cargo</label>
                    <input type="text" name="charge" required class="input">
                    -->
                
                    <select name="charge" id="" for="charge">
                        <option value="">1</option>
                        <option value="">2</option>
                        <option value="">3</option>
                        <option value="4">4</option>
                        <option value="">5</option>
                    </select>

                    <label for="comments" class="label">Observaciones</label>
                    <input type="text" name="comments"  required class="input">

                    <button type="submit" class="button">
                        <i class="icon-buttom"><img src="/img/user_icon.png" alt="user-button" class="icon">   Agregar</i>
                    </button>

                    <!-- <input type="submit" value="Agregar" class="button"> -->

                    <button class="button">
                        <a href="/positions" class="icon-buttom">
                            <img src="/img/cancel_icon.png" alt="user-button" class="icon">   Cancelar</a>
                    </button>

                </form>
            
            </div>
       </div>

    </body>
</html>